* {
  margin: 0;
}
html {
  height: 100%;
}
.card-content {
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
}
.flexCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fas {
  font-size: 100px;
}
.numero-carta {
  font-size: 150px;
  align-self: center;
}
